@import "../../../styles/shared";

.suggestionsRoadmap {
  min-height: 8.5rem;
  background-color: $color-dark-blue-scale-00;
  border-radius: 10px;
  padding: 1.5rem;
  align-items: center;

  .header {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: $color-blue;
      font-size: $font-size-sm;
      font-weight: $font-weight-semiBold;
      text-decoration-line: underline;
    }
  }

  .count:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}