@import '../../styles/shared.scss';

.text-input {
    border-radius: 5px;
    background-color: $color-dark-blue-scale-20;
    min-height: 3rem;
    min-width: 16rem;
    color: $color-dark-blue-scale-100;
    border: none;
    outline: none;
    padding: 0.75rem 1.5rem;

    &--error {
        border: 1px solid $color-red;
    }
}

.error {
    color: $color-red;
}