@import '../../styles/shared.scss';

.suggestions-item {
  min-height: 9.5rem;
  background-color: $color-dark-blue-scale-00;
  display: grid;
  padding: 2rem;
  column-gap: 2rem;
  row-gap: 0.5rem;
  grid-template-columns: fit-content(100%) auto fit-content(100%);
  grid-template-areas:
    'upvotes description comments'
    '. category comments';

  &__upvotes {
    grid-area: upvotes;
  }

  &__text {
    grid-area: description;

    &-description {
      color: $color-dark-blue-scale-60;
    }
  }

  &__category {
    grid-area: category;
  }

  &__comments {
    grid-area: comments;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    &-count {
      font-weight: $font-weight-bold;
    }
  }
}
