$color-purple: #AD1FEA;
$color-purple-hv: #C75AF6;

$color-blue: #4661E6;
$color-blue-hv: #7C91F9;

$color-red: #D73737;
$color-red-hv: #E98888;

$color-orange: #F49F85;
$color-light-blue: #62BCFA;

$color-dark-blue-scale-100: #373F68;
$color-dark-blue-scale-80: #3A4374; 
$color-dark-blue-scale-60: #647196;
$color-dark-blue-scale-40: #F2F4FF;
$color-dark-blue-scale-20: #F7F8FD;
$color-dark-blue-scale-00: #FFFFFF;
