@import "../../../../styles/shared";

.suggestions-state {
  display: flex;
  justify-content: flex-start;
  column-gap: 1rem;
  align-items: center;
}

.suggestions-state__identifier {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: $color-dark-blue-scale-100;
}

.suggestions-state__count {
  color: $color-dark-blue-scale-60;
  font-weight: $font-weight-bold;
  margin-left: auto;
}

.suggestions-state__label {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}